<div class="listParent">
    <h1 [ngClass]="sonFont ? 'TypeB': 'TypeA'" class="listParent-text">{{list.title}}</h1>
</div>
<div class="listEvent">
    <h3>{{list.eventOne}} {{ sonMessage }}{{coverMessage}}</h3>
    <button (click)="changeOpacity()">{{list.eventTwo}}</button>
</div>
<div class="list">
    <div class="list__book" *ngFor="let book of list.listBook">
        <app-list-title [title]='book.title'></app-list-title>
        <app-list-cover [cover]='book.cover' [boton] = "boton" (emitMessage)="setMessage($event)" (changeFont)="setFont($event)"  (emitTitle)="setCover($event)"></app-list-cover>
    </div>
</div>