@import "../../../../../src/styles/colors.scss";


.listParent {
    width: 95%;
    height: 40px;
    text-align: center;
    &-text{
        width: 100%;
        background-color: $primary-color;
        border-radius: 10px 10px 0 0;
    }
}
.listEvent {
    width: 95%;
    text-align: center;
    background-color:  $secondary-color;
    padding-top: 10px;
}
.list {
    width: 95%;
    height: auto;
    background-color: $secondary-color;
    display: flex;
    flex-wrap: wrap;
    &__book {
        width: 30%;
        height: auto;
        text-align: center;
        margin-top: 15px;
    }
}

.TypeA {
    font-family: 'Caveat', cursive;


}

.TypeB {
    font-family: 'Times New Roman', Times, serif;
}