@import "../../../../src/styles/colors.scss";
@import "../../../../src/styles/fonts.scss";
@import "../../../../src/styles/responsive.scss";
@import "../../../../src/styles/sizes.scss";
@import "../../../../src/styles/animations.scss";

.footer {
  width: 100%;
  background-color: $primary-color;
    height: 60px;
  


  &__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 60px;
  }
  &__info {
    cursor: pointer;
    padding: 0 10px 0 10px;
}
}