@import "../../../../../src/styles/colors.scss";

.intro {
  width: 92%;
  min-height: 300px;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 0 0 10px 10px;
  &__width-left {
    width: 60%;
    height: auto;
  }
  &__width-right {
    width: 40%;
    height: auto;
  }
}
.intro__button {
  background-color: $secondary-color;
  width: 92%;
  display: flex;
  justify-content: center;
  button {
    margin: 10px;
    border: none;
    border-radius: 50px;
    background-color:$fourth-color;
  }
}
