<div class="intro__button">
    <button (click)="bigImage()">Ampliar</button>
</div>
<div class="intro">
    <div class="intro__width-left"><app-intro-text [text] = "intro.textIntro" ></app-intro-text>
    </div>
    <div class="intro__width-right"><app-intro-image [boton] = "boton" [image] = "intro.imageIntro" ></app-intro-image>
    </div>
</div>
