<nav class="navbar">
    <div class="navbar__container">
        <div class="navbar__img">
            <img src="{{header.icon.img}}" alt="{{header.icon.name}}">
        </div>
        <div *ngFor="let links of header.links" class="navbar__links">
            <p>{{links}}</p>
        </div>
    </div>
</nav>