@import "../../../../src/styles/colors.scss";
@import "../../../../src/styles/fonts.scss";
@import "../../../../src/styles/responsive.scss";
@import "../../../../src/styles/sizes.scss";
@import "../../../../src/styles/animations.scss";



.navbar {
  width: 100%;
  height: 70px;
  background-color: $primary-color;
  

  &__container {
    display: flex;
    width:100%;
  }
  &__img {
    width: 40%;
    height: 65px;
    display: flex;
    justify-content: center;
    img {
      width: 60%;
      height: auto;
    }
  }
  &__links {
      display: flex;
      width: 50%;
      height: 65px;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      font-family: 'Caveat', cursive;
      p:hover {
        cursor: pointer;
        font-weight: bold;
      }
  }

}
