// Animación central
.navbar__center-box {
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: backwards;
}

@keyframes example {
  0% {
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 0;
  }
  25% {
    width: 0;
  }
  100% {
  }
}

.more {
  animation-name: button;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes button {
  0% {
    height: 50%;
  }
  20% {
    color: transparent;
  }
  100% {
    height: 100%;
  }
}
