<div class="textContainer">
    <p class="textContainer-margin">{{text}}</p>
    <p class="textContainer-margin"*ngIf="state">{{info}}</p>
    <button class="button" (click)="onButtonClick()">Más</button>
</div>