.imageContainer {
    width: 80%;
    img {
        border: 2px solid black;
        border-radius: 5px;
    }
}

// ----Evento---

  .bigImg {
    width: 85%;
    height: auto;

}

.smallImg {
  width: 70%;
  height: auto;
}