@import "../../../../../../src/styles/colors.scss";


.list-cover {
    width: 40%;
    height: auto;
    

    img {
        width: 100%;
        height: auto;
    }
    &__button {
        margin:8px;
        outline: none;
    }
    &__input {
        width: 150px;
    }
}

//-----Event

.clear {
    filter: blur(2px);

}

.opacity {
    filter: blur(10px);

}