<div class="list-cover">
    <img [ngClass]="boton ? 'clear': 'Opacity'" class="list-cover__image" src="{{cover.image}}" alt="{{cover.name}}" >
    <input class="list-cover__input" [(ngModel)]="message" />    
    <button class="list-cover__button" (click)="sendMessage()">Enviar</button>
    <button (click)="sendCover(cover.name)">Solución</button>
    <!-- <button class="list-cover__button"  (click)="changeFonts()">Cambiar fuente</button> -->
</div>